---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Frontend Mentor | Social links profile">
  <div
    class="card w-full sm:max-w-80 bg-[--Dark-Grey] text-center p-7 rounded-lg"
  >
    <div>
      <img
        class="w-24 h-24 rounded-full mx-auto"
        src="/social-links-profile/public/assets/images/avatar-jessica.jpeg"
        alt="Foto de perfil Jessica"
      />
    </div>
    <h1 class="pt-5 text-2xl font-[InterSemiBold] font-semibold">
      Jessica Randall
    </h1>
    <h2 class="py-1 text-sm font-[InterBold] font-bold text-[var(--Green)]">
      London, United Kingdom
    </h2>
    <p class="pt-5 text-sm font-[InterRegular] font-[400]">
      "Front-end developer and avid reader."
    </p>
    <div class="links mt-6">
      <nav>
        <ul class="flex flex-col gap-4">
          <li>
            <a
              class="bg-[var(--Grey)] hover:bg-[var(--Green)] hover:text-[--Off-Black] text-sm font-[InterSemiBold] font-semibold p-3 w-full flex justify-center items-center rounded-lg"
              href="#">GitHub</a
            >
          </li>
          <li>
            <a
              class="bg-[var(--Grey)] hover:bg-[var(--Green)] hover:text-[--Off-Black] text-sm font-[InterSemiBold] font-semibold p-3 w-full flex justify-center items-center rounded-lg"
              href="#">Frontend Mentor</a
            >
          </li>
          <li>
            <a
              class="bg-[var(--Grey)] hover:bg-[var(--Green)] hover:text-[--Off-Black] text-sm font-[InterSemiBold] font-semibold p-3 w-full flex justify-center items-center rounded-lg"
              href="#">LinkedIn</a
            >
          </li>
          <li>
            <a
              class="bg-[var(--Grey)] hover:bg-[var(--Green)] hover:text-[--Off-Black] text-sm font-[InterSemiBold] font-semibold p-3 w-full flex justify-center items-center rounded-lg"
              href="#">Twitter</a
            >
          </li>
          <li>
            <a
              class="bg-[var(--Grey)] hover:bg-[var(--Green)] hover:text-[--Off-Black] text-sm font-[InterSemiBold] font-semibold p-3 w-full flex justify-center items-center rounded-lg"
              href="#">Instagram</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</Layout>
